$stylecolor: #76cbe6;
$backgroundcolor: #f6f6f6;
$accentcolor: #e4e2e2;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background: $backgroundcolor;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 20vh;
  color: white;
  background: $accentcolor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  input {
    height: 30%;
    width: 25%;
    font-size: 4vh;
    padding-left: 10px;
    outline: none;
    color: $stylecolor;
    font-weight: 700;
    border: 1px solid black;
    border-right: none;
  }

  button {
    height: 30%;
    width: 6%;
    overflow: hidden;
    color: white;
    background: $stylecolor !important;
    font-weight: 900;
    border: 1px solid black;
    border-left: none;
    outline: none;
    cursor: pointer;
  }
}
.Returnarea {
  width: 100%;
  min-height: 80vh;
  background: $backgroundcolor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;

  .imagehovered {
    animation: 0.5s ease-out all forwards;
    animation-name: imageHover;
  }

  .superheroDisplay {
    width: 20vh;
    height: 30vh;
    margin: 10px;
    transition: 0.5s all ease-out;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-image: url("./images/placeholder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid red;

    img {
      width: 100%;
      height: 100%;
      transition: 0.3s linear transform;

      &:hover {
        transform: scale(1.25) rotate(5deg);
      }
    }

    .nameInfo {
      display: flex;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: rgba(29, 29, 29, 0.76);
      height: 25%;
      justify-content: center;
      align-items: center;
      font-size: 1.3em;

      h3 {
        color: white;
        text-align: center;
      }
    }
  }
}

.Charinfo {
  background: white;
  min-height: 100vh;
  width: 45vw;
  margin: auto;
  color: rgb(20, 20, 20);
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: auto;
    width: 25vh;
    border-radius: 5px;
    border: 2px solid $stylecolor;
    margin-right: 2vw;
  }

  .stats {
    margin-top: 10px;
    h3 {
      color: $stylecolor;
    }

    .statname {
      min-width: fit-content;
      width: 90px;
      text-align: end;
      color: black;
    }
  }
  .loadbar {
    border: 1px solid black;
    width: 300px;
    min-height: fit-content;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    background: $accentcolor;
    flex-direction: row;
    overflow: hidden;

    .progress {
      transition: 1s ease-out all;
      width: 0;
      height: 100%;
      background: $stylecolor;
      border-radius: 5px;
    }
  }

  .appearance {
    min-width: fit-content;
    width: 300px;
    margin-left: auto;
    text-align: center;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 1.6rem;
    background: $accentcolor;
  }

  .moreinfo {
    margin-top: 20px;

    height: fit-content;
    padding: 10px;

    width: 100%;

    h3 {
      margin-top: 10px;
      font-size: 1.6rem;
      background: rgb(241, 241, 241);
      border-radius: 8px;
    }
  }
}
